extends layout
block content
  header.main-header
    .container
      nav.navbar.navbar-expand-lg.main-nav.px-0
        #mainMenu.collapse.navbar-collapse.justify-content-center
          ul.navbar-nav.ml-auto.text-uppercase.f1
            li
              a.active.active-first(href='/') home
            li
              a(href='/new_quiz') New Quiz
            li
              a(href='/search') search
            li
              a(href='/your_quiz') your quizs
            li
              a(href='/profile') Profile
            li
              a(href='/logout') logout
  .container 
    h1= title
    p 
  
  .courses-container
    .course
      .course-preview
        h6 Quiz Category
        h2 Programming
        a(href='#')
          | View all Quizzes  
          i.fas.fa-chevron-right
      .course-info
        h6 Mani Sai Prasad
        h2 Callbacks &amp; Closures
        h6 description
        button.btn Take Quiz
  
  .courses-container
    .course
      .course-preview
        h6 Quiz Category
        h2 Programming     
        a(href='#')
          | View all Quizzes  
          i.fas.fa-chevron-right
      .course-info
        h6 Mani Sai Prasad
        h2 Callbacks &amp; Closures
        h6 description
        button.btn Take Quiz

  .courses-container
    .course
      .course-preview
        h6 Quiz Category
        h2 Indian_History  
        a(href='#')
          | View all Quizzes  
          i.fas.fa-chevron-right
      .course-info
        h6 Mani Sai Prasad
        h2 Callbacks &amp; Closures
        h6 description
        button.btn Take Quiz