extends layout
block content
  header.main-header
    .container
      nav.navbar.navbar-expand-lg.main-nav.px-0
        #mainMenu.collapse.navbar-collapse.justify-content-center
          ul.navbar-nav.ml-auto.text-uppercase.f1
            li
              a(href='/') home
            li
              a.active.active-first(href='/new_quiz') New Quiz
            li
              a(href='/search') search
            li
              a(href='/your_quiz') your quizs
            li
              a(href='/profile') Profile
            li
              a(href='/logout') logout

  section.new-quiz-section
    h1 New Quiz
    iv.container
      form(action='/new_quiz' method='post')
        .row
          .col-md-6
            .form-group
              label.form-control-label Quiz Name
              input.form-control(type='text' required='true' name='quiz_name' placeholder='Quiz Name')
          .col-md-6
            .form-group
              label.form-control-label Quiz Description
              textarea.form-control(name='desc' placeholder='Quiz Description')
          
          .col-md-6
            .form-group
              label.form-control-label Quiz Category
              select.form-control(name='category')
                option.option-1 General Knowledge
                option.option-2 Science
                option.option-2 Math
                option.option-4 History
                option.option-5 Geography
                option.option-6 Programming
                option.option-7 Sports
                option.option-8 Other 
          .col-md-6
            .form-group
              label.form-control-label Quiz Category
              input.form-control(type='text' name='Quiz_Category_others' placeholder='If selected others')
          .col-md-6
            .form-group
              label.form-control-label Quiz Level
              select.form-control(name='level')
                option.option-1 Beginner
                option.option-2 Intermediate
                option.option-3 Advanced
                option.option-4 Expert
        
          .col-md-6
            .form-group
                label.form-control-label Number of Questions
                input.form-control(type='number' name='number_of_questions' value="5" required='true' placeholder='Number of Questions')
            .col-md-6
                .form-group
                    label.form-control-label Quiz Pass Score (%)
                    input.form-control(type='number' name='pass_score' required='true' value="50" placeholder='0-100%')
        .row
            .col-md-12
                .form-group.text-center
                    button.btn.btn-primary(type='submit') Create Quiz




    