extends layout
block content
  header.main-header
    .container
      nav.navbar.navbar-expand-lg.main-nav.px-0
        #mainMenu.collapse.navbar-collapse.justify-content-center
          ul.navbar-nav.ml-auto.text-uppercase.f1
            li
              a(href='/') home
            li
              a(href='/new_quiz') New Quiz
            //- li
            //-   a(href='/search') search
            li
              a(href='/your_quiz') your quizs
            li
              a.active.active-first(href='/profile') Profile
            li
              a(href='/logout') logout
  .container 
    h1(style="text-align: center; margin-top: 40px;color: #fff;") Hello #{username}! <br><br>  We are working on your profile page